PerlModule Apache2::Reload
PerlInitHandler Apache2::Reload

PerlModule HTML::Mason::ApacheHandler
<VirtualHost>
	ServerName webonastick.com
	<FilesMatch "(\.mhtml)$">
		PerlSetVar MasonCompRoot /home/www/webonastick.com/htdocs
		SetHandler perl-script
		PerlHandler HTML::Mason::ApacheHandler
	</FilesMatch>
</VirtualHost>
<VirtualHost>
	ServerName localhost
	<FilesMatch "(\.mhtml)$">
		PerlSetVar MasonCompRoot /Users/dse/Sites
		SetHandler perl-script
		PerlHandler HTML::Mason::ApacheHandler
	</FilesMatch>
</VirtualHost>
